@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body{
	background:url('Images/New-BG.jpg') no-repeat;
	background-size:100% auto;
	font-family: 'Roboto', sans-serif;
}

.titlebar{
	margin: -8px;
	padding: 3px;
	color: white;
	background-color:rgba(0,0,0,0.7);
	border-bottom: 2px groove grey;
}

.titlebar a {
	color: #33CCCC;
	text-decoration: none;
}

.titlebar a:hover {
	color: blue;
	text-decoration: underline;
}

.titlebar b {
	color: #33CCCC;
}

#load-code{
	color: whitesmoke;
	background-color: rgba(10,10,10,0.5);
	text-align: center;
	box-shadow: 2px 4px 6px black;
	width: auto;
}

#save-code{
	color: whitesmoke;
	background-color: rgba(10,10,10,0.5);
	text-align: center;
	box-shadow: 2px 4px 6px black;
	width:auto;
}
#StatusBar{
	margin: 10px 0 0 0;
	width:auto;
	color: white;
	text-decoration:underline;
	text-align: center;
	background-color: grey;
}

#StatusBar a {
	color: black;
	text-decoration: none;
}

#StatusBar a:hover {
	color: blue;
	text-decoration: underline;
}

#StatusBar b {
	color: rgb(12,46,0);
}

#Link{
	color: blue;
	text-decoration: underline;
}
